
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::before, *::after{
	box-sizing: border-box;
	
}
/*  整體設置 */
body{ font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  background-color: FBFBFB;
  border: #000 solid 1px;
 

}
img{display: block;
    width: 100%;
	height: auto;
}
a{display:inline-block;
	text-decoration: none;
	color: #4B4B4B;

}

/* 表頭 */
.menu{
	display: flex;
	padding: 24px 80px;
	justify-content: center;
	align-items: center;
	gap: 40px;
	align-self: stretch;
}

.menu li{
	font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 150%; 
color:#000000;
}

/* 區塊一 */
.wrap1{
	margin: 0 auto;
	display: flex;
	justify-content: center;

}
.banner{
width: 50%;
align-items: start;
height: auto;
}
.title{
background-image: url(images/Hero\ Section2.png);
width: 50%;	
height: auto;
display: flex;
justify-content:start;
align-items: center;
}

.title h1{
color: #0027D5;
font-family: "Noto Sans TC";
font-size: 120px;
font-weight: 900;
line-height: 150%; 
margin-bottom: 12px;

}
.title p{
color: #0027D5;
font-family: "Noto Sans TC";
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}
.title-content{
margin-left: 80px;
	 
}

/* 區塊二 */
.wrap2{
	margin: 0 auto;
	display: flex;
	justify-content: center; 
    align-items: center;
	border-top : 1px solid ;color:  #6C757D;
	border-bottom : 1px solid ;color:  #6C757D;
}
.wrap2 .banner{
width: 50%;
}

.news-container{
	width: 50%;
	margin-left: 24px;
    

}

.news{
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}
.news .datetime{
margin-bottom: 4px;
color: #000;
font-size: 16px;
font-weight: 500;
line-height: 150%; 
}

.news-title {
color: #0027D5;
font-family: "Noto Sans TC";
font-size: 24px;
font-weight: 500;
line-height: 150%;
display: flex;
align-items: center;
align-self: stretch;
margin-bottom: 8px;
}
.tag{
width: 88px;
height: 36px;
padding: 6px 12px;
margin: 8px;
border-radius: 40px;
background: #0027D5;
color: #FFF;
font-size: 16px;
font-weight: 700;
line-height: 150%;
}

.news h2{
color: #000;
font-size: 28px;
font-weight: 700;
line-height: 150%; 
margin-bottom: 8px;
}
.news-text {


  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 16px;
  max-width: 636px;
  margin-bottom: 16px;
 


color: #000;
width: 636px;
height: 48px;
font-size: 16px;
font-weight: 500;
line-height: 150%;
}

.btn{
	width: 94px; height: 40px;
	padding: 8px 16px;
    align-items: center;
	overflow: hidden;
    width: fit-content;
color:  #4b4b4b;
font-size: 16px;
font-weight: 500;
line-height: 150%; 
border-radius: 40px;
border: 1px solid #000;
}

.btn:hover{
	color: #FBFBFB;
	background-color: #0027D5;
	border: none;

}

/*  搜尋列 */
.search-container{
	width: 1296px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 40px;

}

.search{
width: 416px;
height: 56px;
display: flex;
justify-content: start;
align-items: center;
border-radius: 40px;
border: 1px solid  #4B4B4B;
gap: 10px;
padding-left: 16px;
}

.searchicon{
	width: 16px;
	height: 16px;

}
.search-text{
	width: 318px;
color: #4B4B4B;
font-size: 16px;
font-weight: 500;
line-height: 150%;}


/* 卡片區塊 */
 .card-container{
	width: 1296px;
	margin: 0 auto;
	
}
.card{
	width: 416px;
}
.cardtime{
	margin-bottom: 4px;
	margin-top: 16px;
}
.card .hashtag{
	color: #0027D5;
	font-size: 24px;
    font-weight: 500;
    line-height: 150%;
	margin-right: 8px;

}
.card .cardtitle{
	color: #000;
font-size: 28px;
font-weight: 700;
line-height: 150%; 
margin-bottom: 8px;
} 

.card .card-article{
	 display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 16px;
  max-width: 416px;
  margin-bottom: 16px;
 


color: #4B4B4B;
width: 636px;
height: 48px;
font-size: 16px;
font-weight: 500;
line-height: 150%;
}

.card-group{
	display: flex;
	flex-wrap: wrap;
    gap: 80px 24px;
}

/* 頁面列表 */

.page-container{
	
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;

	
}

.page{
	width: 328px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center; 
	border-radius: 40px;
	background-color: #FFF;
	

	
	


}

.page-number{
display: flex;
align-items: center; 
padding-top: 8px;
padding-bottom: 8px;
}
.left-arrow{

	width: 24px;
	height: 24px;
	background-image: url(images/icon/chevron-left\ 1.png);
}

.right-arrow{
	width: 24px;
	height: 24px;
	background-image: url(images/icon/chevron-right\ 1.png);
}
.page-link{
text-align: center;
width: 40px;
height: 40px;
font-size: 16px;
font-weight: 500;
line-height: 150%;
text-align: center;
padding-top: 8px;
padding-bottom: 8px;
}
.page-link:hover{
	color: #0027D5;
}